<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.scholarship.mapper.DifficultStuMapper">

    <resultMap id="DifficultStuResult" type="DifficultStu">
        <result     property="studentId"        column="student_id"/>
        <result     property="stuName"          column="stu_name"/>
        <result     property="diffLevel"        column="diff_level"/>
        <result     property="profession"       column="profession"/>
        <result     property="grade"            column="grade"/>
        <result     property="classNum"         column="class_num"/>
        <result     property="instructorId"     column="instructor_id"/>
        <result     property="headmasterId"     column="headmaster_id"/>
    </resultMap>

    <sql id="DifficultStuVo">
        select ds.*, ci.*
        from difficult_stu ds inner join stu_info si inner join class_info ci inner join instructor_info ii inner join headmaster_info hi
        on ds.student_id = si.student_id and si.class_id = ci.class_id and ci.instructor_id = ii.instructor_id and ci.headmaster_id = hi.headmaster_id
    </sql>

    <select id="selectIsDiffStu" parameterType="String" resultMap="DifficultStuResult">
        <include refid="DifficultStuVo"></include>
        <where>
            1=1
            <if test="studentId != null and studentId != ''"> and ds.student_id = #{studentId} </if>
        </where>
    </select>

</mapper>