<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.affair.mapper.HolidayMapper">

    <resultMap id="HolidayResult" type="Holiday">
        <id         property="goId"                 column="go_id"/>
        <result     property="studentId"            column="student_id"/>
        <result     property="term"                 column="term"/>
        <result     property="holidayType"          column="holiday_type"/>
        <result     property="destination"          column="destination"/>
        <result     property="holidayStartTime"       column="start_time"/>
        <result     property="holidayEndTime"         column="end_time"/>
        <result     property="address"              column="address"/>
        <result     property="remark"               column="remark"/>
        <result     property="status"               column="status"/>
    </resultMap>

    <sql id="HolidayVo">
        select *
        from holiday_go
    </sql>

    <select id="selectHolidayById" parameterType="String" resultMap="HolidayResult">
        <include refid="HolidayVo"></include>
        <where>
            1=1
            <if test="studentId != null and studentId != ''">
                and holiday_go.student_id = #{studentId}
            </if>
        </where>
        order by holiday_go.go_id desc
    </select>

    <insert id="addHoliday" parameterType="Holiday" useGeneratedKeys="true" keyProperty="goId">
        insert into holiday_go(
            <if test="studentId != null and studentId != ''">student_id,</if>
            <if test="term != null and term != ''">term,</if>
            <if test="holidayType != null and holidayType != ''">holiday_type,</if>
            <if test="destination != null and  destination != ''">destination,</if>
            <if test="holidayStartTime != null">start_time,</if>
            <if test="holidayEndTime != null">end_time,</if>
            <if test="address != null and address != ''">address,</if>
            <if test="remark != null and remark != ''">remark,</if>
            status
        ) values (
            <if test="studentId != null and studentId != ''">#{studentId},</if>
            <if test="term != null and term != ''">#{term},</if>
            <if test="holidayType != null and holidayType != ''">#{holidayType},</if>
            <if test="destination != null and  destination != ''">#{destination},</if>
            <if test="holidayStartTime != null">#{holidayStartTime},</if>
            <if test="holidayEndTime != null">#{holidayEndTime},</if>
            <if test="address != null and address != ''">#{address},</if>
            <if test="remark != null and remark != ''">#{remark},</if>
            1
        )
    </insert>

    <update id="updateHolidayStatus" parameterType="Holiday">
        update holiday_go
        <set>
            <if test="status != null and status != 0">status = #{status},</if>
        </set>
        where holiday_go.go_id = #{goId}
    </update>

    <update id="updateHoliday" parameterType="Holiday">
        update holiday_go
        <set>
            <if test="term != null and term != ''">term = #{term},</if>
            <if test="holidayType != null and holidayType != ''">holiday_type = #{holidayType},</if>
            <if test="holidayStartTime != null">start_time = #{holidayStartTime},</if>
            <if test="holidayEndTime != null">end_time = #{holidayEndTime},</if>
            <if test="address != null">address = #{address},</if>
            <if test="remark != null">remark = #{remark},</if>
        </set>
        where holiday_go.go_id = #{goId}
    </update>

    <delete id="deleteHoliday" parameterType="Long">
        delete from holiday_go where go_id = #{goId}
    </delete>

</mapper>