<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.info.mapper.StuInfoMapper">

    <resultMap type="StuInfo" id="StuInfoResult">
        <id     property="studentId"            column="student_id"/>
        <result property="department"           column="department"/>
        <result property="profession"           column="profession"/>
        <result property="grade"                column="grade"/>
        <result property="classNum"             column="class_num"/>
        <result property="name"                 column="stu_name"/>
        <result property="graduIntention"       column="gradu_intention"/>
        <result property="registration"         column="registration"/>
        <result property="teacher"              column="teacher"/>
        <result property="phoneNumber"          column="phone_number"/>
        <result property="email"                column="email"/>
        <result property="qq"                   column="qq"/>
        <result property="weChat"               column="we_chat"/>
        <result property="birthday"             column="birthday"/>
        <result property="nation"               column="nation"/>
        <result property="politicsStatus"       column="politics_status"/>
        <result property="joinTime"             column="join_time"/>
        <result property="studentOriginP"        column="student_origin_p"/>
        <result property="studentOriginC"        column="student_origin_c"/>
        <result property="studentOriginA"        column="student_origin_a"/>
        <result property="familyAddress"        column="family_address"/>
        <result property="familyPhoneNumber"    column="family_phone_number"/>
        <result property="familyContacts"       column="family_contacts"/>
        <result property="familyPostcode"       column="family_postcode"/>
        <result property="graduSchool"          column="gradu_school"/>
        <result property="graduSchoolPostcode"  column="gradu_school_postcode"/>
        <result property="usedName"             column="used_name"/>
        <result property="nativePlaceP"          column="native_place_p"/>
        <result property="nativePlaceC"          column="native_place_c"/>
        <result property="nativePlaceA"          column="native_place_a"/>
        <result property="healthCard"           column="health_card"/>
        <result property="cet4"                 column="cet4"/>
        <result property="cet6"                 column="cet6"/>
        <result property="englishName"          column="english_name"/>
        <result property="reportItem"           column="report_item"/>
    </resultMap>

    <resultMap id="StuBaseInfoResult" type="StuBaseInfo">
        <id         property="studentId"            column="student_id"/>
        <result     property="name"                 column="stu_name"/>
        <result     property="department"           column="department"/>
        <result     property="profession"           column="profession"/>
        <result     property="grade"                column="grade"/>
        <result     property="classNum"             column="class_num"/>
    </resultMap>

    <resultMap id="StuUserInfoResult" type="StuBaseInfo">
        <id         property="userId"               column="user_id"/>
        <result     property="studentId"            column="student_id"/>
        <result     property="name"                 column="stu_name"/>
        <result     property="department"           column="department"/>
        <result     property="profession"           column="profession"/>
        <result     property="grade"                column="grade"/>
        <result     property="classNum"             column="class_num"/>
    </resultMap>

    <sql id="selectStuInfoVo">
        select s.student_id, s.stu_name, s.gradu_intention, s.registration, s.teacher, s.phone_number, s.email,
               s.qq, s.we_chat, s.birthday, s.nation, s.politics_status, s.join_time, s.student_origin_p,
               s.student_origin_c, s.student_origin_a, s.family_address, s.family_phone_number,
               s.family_contacts, s.family_postcode, s.gradu_school, s.gradu_school_postcode, s.used_name,
               s.native_place_p, s.native_place_a, s.native_place_c, s.health_card, s.cet4, s.cet6, s.english_name,
               s.report_item, c.department, c.profession, c.grade, c.class_num
        from stu_info s inner join class_info c
        on s.class_id = c.class_id
    </sql>

    <sql id="selectStuUserVo">
        select u.user_id, s.student_id, s.stu_name, c.department, c.profession, c.grade, c.class_num
        from stu_info s inner join class_info c inner join sys_user u
        on u.user_name = s.student_id and s.class_id = c.class_id
    </sql>

    <select id="selectStuById" parameterType="String" resultMap="StuInfoResult">
        <include refid="selectStuInfoVo"></include>
        where s.student_id = #{studentId}
    </select>

    <select id="selectStuBaseById" parameterType="String" resultMap="StuBaseInfoResult">
        <include refid="selectStuInfoVo"></include>
        where s.student_id = #{studentId}
    </select>

    <select id="selectAllStuBase" parameterType="StuBaseInfo" resultMap="StuUserInfoResult">
        <include refid="selectStuUserVo"></include>
        <where>
            1=1
            <if test="studentId != null and studentId != ''"> and s.student_id like concat('%', #{studentId}, '%')</if>
            <if test="name != null and name != ''"> and s.stu_name like concat('%', #{name}, '%')</if>
            <if test="profession != null and profession != ''"> and c.profession = #{profession}</if>
            <if test="grade != null and grade != 0"> and c.grade = #{grade}</if>
        </where>
    </select>

    <insert id="insertStuUserInfo" parameterType="StuUserInfo" useGeneratedKeys="true" keyProperty="userId">
        insert into sys_user (
            <if test="userName != null and userName != ''">user_name,</if>
            <if test="nickName != null and nickName != ''">nick_name,</if>
            <if test="avatar != null and avatar != ''">avatar,</if>
            <if test="password != null and password != ''">password,</if>
            create_time
        ) values (
            <if test="userName != null and userName != ''">#{userName},</if>
            <if test="nickName != null and nickName != ''">#{nickName},</if>
            <if test="avatar != null and avatar != ''">#{avatar},</if>
            <if test="password != null and password != ''">#{password},</if>
            sysdate()
        );
        insert into stu_info ( class_id, student_id, stu_name )
        values ( #{classId}, #{userName}, #{nickName} )
    </insert>

    <insert id="insertStuBaseInfo" parameterType="StuBaseInfo" useGeneratedKeys="true" keyProperty="">
        insert into stu_info ( class_id, student_id, stu_name )
        values ( #{classId}, #{studentId}, #{stuName} )
    </insert>
    
    <update id="updateStu" parameterType="StuInfo">
        update stu_info
        <set>
            <if test="graduIntention != null">gradu_intention = #{graduIntention},</if>
            <if test="registration != null">registration = #{registration},</if>
            <if test="teacher != null">teacher = #{teacher},</if>
            <if test="phoneNumber != null">phone_number = #{phoneNumber},</if>
            <if test="email != null">email = #{email},</if>
            <if test="qq != null">qq = #{qq},</if>
            <if test="weChat != null">we_chat = #{weChat},</if>
            <if test="birthday != null">birthday = #{birthday},</if>
            <if test="nation != null">nation = #{nation},</if>
            <if test="politicsStatus != null">politics_status = #{politicsStatus},</if>
            <if test="joinTime != null">join_time = #{joinTime},</if>
            <if test="studentOriginP != null">student_origin_p = #{studentOriginP},</if>
            <if test="studentOriginC != null">student_origin_c = #{studentOriginC},</if>
            <if test="studentOriginA != null">student_origin_a = #{studentOriginA},</if>
            <if test="familyAddress != null">family_address = #{familyAddress},</if>
            <if test="familyPhoneNumber != null">family_phone_number = #{familyPhoneNumber},</if>
            <if test="familyContacts != null">family_contacts = #{familyContacts},</if>
            <if test="familyPostcode != null">family_postcode = #{familyPostcode},</if>
            <if test="graduSchool != null">gradu_school = #{graduSchool},</if>
            <if test="graduSchoolPostcode != null">gradu_school_postcode = #{graduSchoolPostcode},</if>
            <if test="usedName != null">used_name = #{usedName},</if>
            <if test="nativePlaceP != null">native_place_p = #{nativePlaceP},</if>
            <if test="nativePlaceC != null">native_place_c = #{nativePlaceC},</if>
            <if test="nativePlaceA != null">native_place_a = #{nativePlaceA},</if>
            <if test="healthCard != null">health_card = #{healthCard},</if>
            <if test="cet4 != null">cet4 = #{cet4},</if>
            <if test="cet6 != null">cet6 = #{cet6},</if>
            <if test="englishName != null">english_name = #{englishName},</if>
            <if test="reportItem != null">report_item = #{reportItem},</if>
        </set>
        where student_id = #{studentId}
    </update>

</mapper>