<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.info.mapper.TempLeaveMapper">

    <resultMap id="TempLeaveResult" type="TempLeave">
        <id         property="leaveId"         column="leave_id"/>
        <result     property="studentId"       column="student_id"/>
        <result     property="reason"          column="reason"/>
        <result     property="startTime"       column="start_time"/>
        <result     property="endTime"         column="end_time"/>
        <result     property="teacher"         column="teacher"/>
        <result     property="status"          column="status"/>
    </resultMap>

    <sql id="TempLeaveVo">
        select *
        from temp_leave tl
    </sql>

    <select id="selectLeaveById" parameterType="String" resultMap="TempLeaveResult">
        <include refid="TempLeaveVo"></include>
        where tl.student_id = #{studentId}
    </select>
</mapper>