<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.info.mapper.TempLeaveMapper">

    <resultMap id="TempLeaveStuResult" type="TempLeave">
        <id         property="leaveId"         column="leave_id"/>
        <result     property="studentId"       column="student_id"/>
        <result     property="reason"          column="reason"/>
        <result     property="leaveStartTime"       column="start_time"/>
        <result     property="leaveEndTime"         column="end_time"/>
        <result     property="teacher"         column="teacher"/>
        <result     property="status"          column="status"/>
    </resultMap>

    <sql id="TempLeaveVo">
        select tl.*, i.instructor_name
        from temp_leave tl inner join stu_info s inner join class_info c inner join instructor_info i
        on tl.student_id = s.student_id and s.class_id = c.class_id and c.instructor_id = i.instructor_id
    </sql>

    <select id="selectLeaveByStuId" parameterType="String" resultMap="TempLeaveStuResult">
        <include refid="TempLeaveVo"></include>
        where tl.student_id = #{studentId}
        order by tl.leave_id desc
    </select>

    <insert id="insertTempLeave" parameterType="TempLeave" useGeneratedKeys="true" keyProperty="leaveId">
        insert into temp_leave (
            <if test="reason != null and reason != ''">reason,</if>
            <if test="leaveStartTime != null">start_time,</if>
            <if test="leaveEndTime != null">end_time,</if>
            <if test="teacher != null and teacher != ''">teacher,</if>
            student_id,
            status
        ) values (
            <if test="reason != null and reason != ''">#{reason},</if>
            <if test="leaveStartTime != null">#{leaveStartTime},</if>
            <if test="leaveEndTime != null">#{leaveEndTime},</if>
            <if test="teacher != null and teacher != ''">#{teacher},</if>
            #{studentId},
            1
        )
    </insert>

    <delete id="deleteTempLeave" parameterType="Long">
        delete from temp_leave where leave_id = #{leaveId}
    </delete>

    <update id="updateStatus" parameterType="TempLeave">
        update temp_leave
        <set>
            <if test="status != null and status != 0">status = #{status},</if>
        </set>
        where leave_id = #{leaveId}
    </update>

    <update id="updateTempLeave" parameterType="TempLeave">
        update temp_leave
        <set>
            <if test="reason != null and reason != ''">reason = #{reason},</if>
            <if test="leaveStartTime != null">start_time = #{leaveStartTime},</if>
            <if test="leaveEndTime != null">end_time = #{leaveEndTime},</if>
            <if test="teacher != null">teacher = #{teacher},</if>
        </set>
        where leave_id = #{leaveId}
    </update>
</mapper>